.calculator {
    width: auto;
    margin-right: 350px; 
    margin-left: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(36, 175, 175);
}

#display {
    font-size: 50px;
    width: 88%;
    margin-bottom: 10px;
    padding: 35px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 25px;
    font-size: 25px;
}
